*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center; 
    padding: 50px;
}


.logo img{
    width: 135%;
margin-bottom: 141px;
margin-top: -10px;
display flex: -25px;
    
}

.rom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-2 h1{
    width: 100%;
    text-decoration: 50px;
    font-size: xx-large;
    margin-top: -140px;
    margin-bottom: 10px;
    padding-left: 200px;
}

.col-2 P{
    font-size: large;
    background: rgb(22, 5, 18);
    color: rgb(209, 201, 201);
    margin-left: 5px;
    padding-top: 20px;
    padding-left: 10px;
}

.col-2 img{
    width:  99%;
    position: absolute;
    padding-left: 650px;
    margin-block: -800px;
    margin-top: -812px;
    margin-bottom: 30px;
}

.col-3 img{
    position: absolute;
    padding-left: 850px;
    margin-top:  -325px;
}

.header-section{
    background-color: rgba(228, 228, 236, 0.596);
    margin-top: -100px;
}


